HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.agents
test_api.sh
.kiro/specs/shop-management-frontend/.config.kiro
.kiro/specs/shop-management-frontend/design.md
.gitignore
.kiro/specs/shop-management-frontend/tasks.md
.kiro/specs/shop-management-frontend/requirements.md
benchmark.py
